.greeting span {
    color: var(--accent-color);
  }
  .greeting::after {
    content: "";
    position: absolute;
    height: 2px;
    width: 50%;
    background-color: var(--accent-color);
  }
  
  .center.content.home {
    display: flex;
    flex-direction: row;
    margin-left: 15vw;
    margin-right: 15vw;
    justify-content: space-around;
    gap: 20px;
  }
  
  .description {
    height:  calc(3rem * 5);
    width: 500px;
    align-self: baseline;
    padding: 10px;
  
    text-align: justify;
    font-size: 1.8rem;
    font-weight:200;
  
    background-color: rgba(0, 0, 0, 0.1);
    color: rgb(255, 255, 255);
    backdrop-filter: blur(3px);
    outline: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 10px;
  }
  .description > p  >span{
    font-size: 2rem;
    font-weight: 400;
    color: var(--accent-color);
  }
  ul {
    text-align: left;
  
    font-size: 3rem;
    font-weight: 500;
    list-style-type: square;
    list-style-position: inside;
  
    color: white;
    text-shadow: 1px 1px 3px var(--accent-color);
  }